{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a class="button button-primary" href="http://127.0.0.1:8000/books/{{ book.pub_date|date:'Y-m-d' }}">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:'Y-m-d' }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
            <li class="uk-pagination-previous">
                {% if previous_date != None %}
                    <a href="http://127.0.0.1:8000/books/{{ previous_date.pub_date|date:'Y-m-d' }}">< {{ previous_date.pub_date|date:'Y-m-d' }} </a>
                {% endif %}
            </li>
            <li class="uk-pagination-next">
                {% if next_date != None %}
                    <a href="http://127.0.0.1:8000/books/{{ next_date.pub_date|date:'Y-m-d' }}"> {{ next_date.pub_date|date:'Y-m-d' }} ></a>
                {% endif %}
            </li>
{% endblock %}